<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="..\css\style.css">
	<meta charset="UTF-8">
	<meta name= "viewport" content="width=device-width, initial-scake=1.0">
	<title>Alterar Produto</title>
</head>
<body>
	<h2 id= "titulo">Alterar Produto</h2>
	
<form class="campo" action="..\Controller\AlterarProduto.php" method="POST">
	Codigo do produto <input type="text" name="cprod" > <br><br>
	<input class="botao" type="submit" value="Alterar">
	<button class="botaoB" type="button" onclick="location.href='inicio.html'">Voltar</button>
</form>

</body>
</html>