<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="..\css\style.css">
	<meta charset="UTF-8">
	<meta name= "viewport" content="width=device-width, initial-scake=1.0">
	<title>Alterar Cliente</title>
</head>
<body>
	<h2 id= "titulo">Alterar Cliente</h2>
	
<form class="campo" action="..\Controller\AlterarCliente.php" method="POST">
	CPF <input type="text" name="ccpf" > <br><br>
	<input class="botao" type="submit" value="Alterar">
	<button class="botaoB" type="button" onclick="location.href='inicio.html'">Voltar</button>

</form>

</body>
</html>