<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="..\css\style.css">
	<meta charset="UTF-8">
	<meta name= "viewport" content="width=device-width, initial-scake=1.0">
	<title>Cadastrar Produto</title>
</head>
<body>
	<h2 id= "titulo">Cadastrar Produto</h2>
	
<form class="campo" action="..\Controller\CadastrarProduto.php" method="POST">
	Nome <input type="text" name="cnome" required> <br><br>
	Valor <input type="decimal" name="cvalor" required> <br><br>
	Codigo Produto <input type="text" name="ccodigo" required> <br><br>
	<input class="botao" type="submit" value="Cadastrar">
	<button class="botaoB" type="button" onclick="location.href='inicio.html'">Voltar</button>
</form>

</body>
</html>