<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="..\css\style.css">
	<meta charset="UTF-8">
	<meta name= "viewport" content="width=device-width, initial-scake=1.0">
	<title>Cadastro de Funcionário</title>
</head>
<body>
	<h2 id= "titulo">Cadastro de Funcionário</h2>
	
<form class="campo" action="..\Controller\CadastrarFuncionario.php" method="POST">
	Nome <input type="text" name="cnome" required> <br><br>
	Email <input type="email" name="cemail" required> <br><br>
	Senha <input type="password" name="csenha" required> <br><br>
	CPF <input type="text" name="ccpf" required> <br><br>
	<input class="botao" type="submit" value="Cadastrar">
	<button class="botaoB" type="button" onclick="location.href='login.html'">Voltar</button>
</form>

</body>
</html>