<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="..\css\style.css">
	<meta charset="UTF-8">
	<meta name= "viewport" content="width=device-width, initial-scake=1.0">
	<title>Cadastrar Compra</title>
</head>
<body>
	<h2 id= "titulo">Cadastrar Compra</h2>
	
<form class="campo" action="..\Controller\CadastrarCompra.php" method="POST">
	
	CPF Cliente <input type="text" name="ccpf" > <br>
	Codigo do produto <input type="text" name="cproduto"> <br>
	Quantidade <input type="text" name="cquantidade"> <br>
	Codigo da compra <input type="text" name="ccompra"> <br>
	Data <input type="date" name="cdata" > <br>
	
	<input class="botao" type="submit" value="Cadastrar">
	<button class="botaoB" type="button" onclick="location.href='inicio.html'">Voltar</button>
</form>

</body>
</html>