<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="..\css\style.css">
	<meta charset="UTF-8">
	<meta name= "viewport" content="width=device-width, initial-scake=1.0">
	<title>Início</title>
</head>

<body class="campo">
	<h1 id= "titulo">Cliente</h1>
	<button class="botaoA" onclick="location.href='CadastrarCliente.html'">Cadastrar</button><br>
	<button class="botaoA" onclick="location.href='ConsultarCliente.html'">Consultar</button><br>
	<button class="botaoA" onclick="location.href='ExcluirCliente.html'">Excluir</button><br>
	<button class="botaoA" onclick="location.href='AlterarCliente.html'">Alterar</button><br>	
	
	<h1 id= "titulo">Compra</h1>
	<button class="botaoA" onclick="location.href='CadastrarCompra.html'">Cadastrar</button><br>
	<button class="botaoA" onclick="location.href='ConsultarCompra.html'">Consultar</button><br>
	<button class="botaoA" onclick="location.href='ExcluirCompra.html'">Excluir</button><br>
	<button class="botaoA" onclick="location.href='AlterarCompra.html'">Alterar</button><br>	
	
	<h1 id= "titulo">Produto</h1>

	<button class="botaoA" onclick="location.href='CadastrarProduto.html'">Cadastrar</button><br>
	<button class="botaoA" onclick="location.href='ConsultarProduto.html'">Consultar</button><br>
	<button class="botaoA" onclick="location.href='ExcluirProduto.html'">Excluir</button><br>
	<button class="botaoA" onclick="location.href='AlterarProduto.html'">Alterar</button><br>	

	<br><br><button class="botaoB" type="button" onclick="location.href='login.html'">Voltar</button>

</body>
</html>