<!DOCTYPE html>
<html>

<body>
	<h1>Cliente</h1>
	<li><a href="CadastrarCliente.html">Cadastrar</a></li>		 					
	<li><a href="ConsultarCliente.html">Consultar</a></li>
	<li><a href="ExcluirCliente.html">Excluir</a></li>
	<li><a href="AlterarCliente.html">Alterar</a></li>
	
	<h1>Compra</h1>
	<li><a href="CadastrarCompra.html">Cadastrar</a></li>		 					
	<li><a href="ConsultarCompra.html">Consultar</a></li>
	<li><a href="ExcluirCompra.html">Excluir</a></li>
	<li><a href="AlterarCompra.html">Alterar</a></li>
	
	<h1>Produto</h1>
	<li><a href="CadastrarProduto.html">Cadastrar</a></li>		 					
	<li><a href="ConsultarProduto.html">Consultar</a></li>
	<li><a href="ExcluirProduto.html">Excluir</a></li>
	<li><a href="AlterarProduto.html">Alterar</a></li>

	<br><br><button type="button" onclick="location.href='login.html'">Voltar</button>

</body>
</html>