<!DOCTYPE html>
<html>

<body>
	<h1>Cliente</h1>
	<li><a href="View\CadastrarCliente.html">Cadastrar</a></li>		 					
	<li><a href="View\ConsultarCliente.html">Consultar</a></li>
	<li><a href="View\ExcluirCliente.html">Excluir</a></li>
	<li><a href="View\AlterarCliente.html">Alterar</a></li>
	
	<h1>Compra</h1>
	<li><a href="View\CadastrarCompra.html">Cadastrar</a></li>		 					
	<li><a href="View\ConsultarCompra.html">Consultar</a></li>
	<li><a href="View\ExcluirCompra.html">Excluir</a></li>
	<li><a href="View\AlterarCompra.html">Alterar</a></li>
	
	<h1>Produto</h1>
	<li><a href="View\CadastrarProduto.html">Cadastrar</a></li>		 					
	<li><a href="View\ConsultarProduto.html">Consultar</a></li>
	<li><a href="View\ExcluirProduto.html">Excluir</a></li>
	<li><a href="View\AlterarProduto.html">Alterar</a></li>
	
	<h1>Funcionario</h1>
	<li><a href="View\CadastrarFuncionario.html">Cadastrar</a></li>		
	

</body>
</html>